.dd {
  height: 50px;
  background-color: rgb(235, 231, 231);
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 15px 50px;
  box-shadow: 5px 7px #948e8e;
  padding: 10px;
  width: 1000px;
  margin-left: 10px;
}
.name {
  font-weight: 900;
  font-size: 1.6rem;
  color: rgb(10, 10, 10);
  font-family: "Roboto", sans-serif;
  padding-left: 25px;
}
.head,
.location {
  font-weight: 700;
  font-size: 1.4rem;
  color: rgb(54, 53, 53);
  font-family: "Roboto", sans-serif;
  padding-left: 25px;
}
.head-s {
  font-weight: 200;
  font-size: 1.1rem;
  color: rgb(65, 62, 62);
  padding-left: 25px;
}
i {
  align-items: flex-end;
}
.campaign button,
.user button {
  display: inline;
  border-radius: 20%;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  height: 60px;
}
.user {
  width: 1100px;
  margin-left: 30px;
  padding-bottom: 0px;
}
